$cell_content_padding: 6px

.notebook
    padding: 10px
    .cell
        [contenteditable]
            outline: 0px solid transparent

        .caption
            color: #4D6464
            padding-right: $cell_content_padding
            float: left

        .input
            float: left
            padding-left: $cell_content_padding
            border-left: 2px solid #9AC9C9
            font-weight: bold
